body {
    background-color: #FFFDD0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2f2f2f;
    text-align: center;
    margin: 0 auto 1rem auto;
}

h2.title {
    font-size: 24px;
    /* color: blue; */
    /* background-color: #6B4226; */
    text-align: center;
}


p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-align: center;
    padding: 10px 0;
}

#paragraph-container {
    border: solid 2px #A52A2A;
    /* Dark brown */
    padding: 2px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 10px 10px 10px #8B5E3C;
    /* Light brown */
    /* transform: rotateX(0deg) rotateY(0deg); */
}


input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

a {
    color: #FF0000;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
        line-height: 1.4;
    }

    .main-container {
        width: 100%;
        padding: 0 10px;
    }

    .header {
        text-align: center;
    }

    .navigation {
        display: none;
    }

    .content {
        width: 100%;
        margin-top: 20px;
    }

    .footer {
        text-align: center;
    }
}